# Konfigurasi API AbuseIPDB (Opsional)
# Dapatkan API Key gratis (1.000 query/hari) di https://www.abuseipdb.com/
ABUSEIPDB_API_KEY=

# Konfigurasi Auto Commit & Push GitHub (Opsional: true / false)
AUTO_GIT_PUSH=false
